body {
    font-family: 'Abril Fatface';
    color: rgba(12, 18, 26, 0.89);
    font-size: 1em;
    background-color: #c6ced8b6;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

#home {
    position: absolute;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    font-size: 2.8em;
    opacity: .5;
    color: rgba(6, 35, 131, 0.774);
}

.emphasis {
    font-weight: bold;
    display: inline-block;
}

#section1 {
    display: flex;
    justify-content: center;
}

#wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

#title {
    font-size: 5rem;
    text-shadow: 3px 3px rgba(31, 29, 29, 0.336);
    display: block;
    text-align: center;
}

.smallHeader {
    font-size: 1.2rem;
}

.lineBreak {
    border: solid 1px;
    border-color: rgba(6, 60, 131, 0.432);
    border-left: none;
    border-right: none;
    width: 60vw;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* Image row classes, can and SHOULD reuse?*/

.imageRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8vh;
    width: 60vw;
}

.ImgWithSub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ImgWithSub-Wide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 30vw;
    padding: 20px;
    padding-top: 0;
}

.image {
    width: 19vw;
    height: auto;
    margin-bottom: 35px;
    box-shadow: 0 20px 30px -6px rgb(0, 0, 0);
}

.caption {
    margin-top: 10px;
    margin-bottom: 20px
}

#moreButton {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    background-color: rgba(6, 35, 131, 0.466);
    padding: 10px;
    color: rgba(255, 255, 255, 0.952);
    border: 1px solid;
    border-color: rgb(2, 24, 97);
}

#pageIcon {
    width: auto;
    height: 3vh;
    border-radius: 100%;
}

/* quote block */

#quoteBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#d8dde200, #939eacb6);
    width: auto;
    height: 250px;
    font-size: 3em;
    box-shadow: 0 9px 10px -5px rgba(51, 51, 51, 0.658);
    text-shadow: rgb(164, 164, 168) 3px 3px;
    margin-bottom: 60px;
    margin-top: 50px;
}

/*2nd section*/

#section2 {
    display: flex;
    justify-content: center;
}

#wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#wrapper2Blog {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraphHeader {
    text-align: center;
    margin-bottom: 30px;
}

/* Left Column */

#columnLeft {
    width: 40vw;
    margin-right: 50px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.wideImage {
    width: 40vw;
    height: auto;
    margin-top: 30px;
    margin-bottom: 35px;
    border: solid 5px rgba(63, 59, 59, 0.459);
}

#columnRight {
    align-self: flex-start;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.contReading {
    font-size: 1vw;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 12vw;
    /* background-color: rgba(6, 35, 131, 0.466); */
    padding: 10px;
    /* color: rgba(255, 255, 255, 0.952); */
    border: 1px solid;
    border-color: rgba(6, 60, 131, 0.747);
}

.buttonStyle {
    display: flex;
    align-items: center;
    color: rgba(6, 60, 131, 0.747)
}

.buttonStyle:hover {
    color: pink
}

.contReading:hover {
    border-color: pink
}

.lineBreakLeft {
    border: solid 2px;
    border-color: rgba(6, 60, 131, 0.432);
    border-left: none;
    border-right: none;
    width: 40vw;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* Right Column Date Blurbs */

.date {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 8vh;
    width: 10vw;
    justify-content: center;
    border-radius: 5%;
    background-color: rgba(1, 24, 98, 0.795);
    padding: 10px;
    color: rgba(255, 255, 255, 0.952);
    border: 1px solid;
    border-color: rgb(2, 24, 97);
}

.lineBreakRight {
    border: solid;
    border-color: rgba(6, 60, 131, 0.432);
    border-left: none;
    border-right: none;
    border-top: none;
    width: 20vw;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
}

#dateSectionBreak {
    border: solid;
    border-color: rgba(6, 60, 131, 0.432);
    border-left: none;
    border-right: none;
    width: 20vw;
    height: 5px;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* Right Column wrapped pictures */

.wrappedPic {
    float: left;
    width: 10vw;
    height: 10vw;
    border: solid 5px rgba(63, 59, 59, 0.459);
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrappedPicButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    background-color: rgba(6, 35, 131, 0.466);
    padding: 5px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.952);
    border: 1px solid;
    border-color: rgb(2, 24, 97);
    font-size: .75rem;
}

/* Imported footer */

#footerBreak {
    border: solid;
    border-left: none;
    border-right: none;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
}

/* Page Styles */

#footer {
    background-color: lightgrey;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 40px;
    width: auto;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0
}

#text-area {
    width: 28.5vw;
    resize: none;
    height: 12vw;
}

/* Overall Layout */

.container {
    display: grid;
    width: 60vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "header  header    header    header" "sidebar sidebar content-2 content-2" "sidebar sidebar content-3 content-3" "sidebar  sidebar content-3 content-3";
}

.header {
    grid-area: header;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.sidebar {
    grid-area: sidebar;
}

.content-1 {
    grid-area: content-1;
}

.content-2 {
    grid-area: content-2;
    font-size: .8em;
}

/* Contact Info */

.content-3 {
    grid-area: content-3;
    display: grid;
    grid-gap: 1rem;
    font-size: 1.2em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "address twitter" "address insta" "number  dribble" "email   facebook"
}

.contact {
    font-size: .7em;
    display: flex;
    justify-content: space-between;
}

.address {
    grid-area: address;
}

/* Comment Inputs */

#nameInputs {
    display: flex;
    justify-content: space-between;
}

#firstName {
    width: 13vw;
}

#lastName {
    width: 13vw;
}

#comments {
    resize: none;
}

#messageButton {
    width: 12vw;
    background-color: rgba(6, 35, 131, 0.466);
    padding: 5px;
    color: rgba(255, 255, 255, 0.952);
    border: 1px solid;
    border-color: rgb(2, 24, 97);
    text-align: center;
}

@media screen and (max-width:750px) {
    #home {
        display: block;
        position: static;
    }
    .imageRow {
        display: flex;
        flex-direction: column;
    }
    .image {
        width: 50vw
    }
}


.fade-in{
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.fade-in1{
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.fade-in2{
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.slideIn {
    transform: translateX(140%);
    transition: opacity 600ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.slideInImg {
    transform: translateX(100%);
    transition: opacity 600ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.slideIn.appear {
    transform: translatex(0);
    opacity: 1;
}

.slideInImg.appear {
    transform: translateX(0);
    opacity: 1;
}